@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Aboreto', cursive, sans-serif;
    background-image: linear-gradient(to right, #B35DB5, #37adcd);
    color: white;
}

.container{ 
    width: 95%;
    margin: auto;
}

 /*navbar*/

.nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
    margin: 25px 0;
}

.nav h2{
    font-size: 2rem;    
}


/*user*/

.userInput {
    width: 350px;
    text-align: center;
}

.userInput input{
    width: 80%;
    outline: none;
    padding: 8px;
    border: 1px solid lightgray;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;
}

.userInput:focus{
    box-shadow: 0 0 5px #B35DB5;
    border: 1px solid #B35DB5;
}

.userInput button {
    cursor: pointer;
    padding: 8px;
    width: fit-content;
    transition: 1s;
    outline: none;
    background-color: rgb(176, 208, 222);
    border: 1px solid lightgrey;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-radius: 5px;
}

.userInput button:hover {
    background-color: transparent;
    color: white;
}

.toDoItems {
    width: 500px;
    margin: auto;
}


/*Item*/

.item {
    background-color: white;
    font-family: Poppins, sans-serif;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
    border-radius: 2px;
    padding: 16px;
    color: #454545;
    margin-top: 10px;
    font-size: 1rem;
    text-transform: uppercase;
    border: 1px solid lightgray;
    -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    transition: all 0.30s ease-in-out;  
}

.item:hover{
    box-shadow: 0 0 20px #B35DB5;
    border: 1px solid #B35DB5;
}

.item i {
    cursor: pointer;
    margin: 0 5px;
}


/*media*/
@media(max-width:768px){
    .nav {
        align-items: center;
        flex-direction: column;
    }
    .nav h2{
        margin: 10px 0;
    }
   .userInput{
    width: 100%;
   } 

   .toDoItems{
    width: 100%;
   }
}

@media(max-width:480px){
    .userInput input{
        width: 74%;
    }
}

@media(max-width:320px){
    .userInput input{
        width: 60%;
    }
}